@import url('/fonts/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Nunito', sans-serif;
}

.text-primary{
  color: #079284;
}
.bg-primary{
  color: #079284;
}